/node_modules/
/build/
**.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.idea
/.idea
.idea/*
.AppleDouble
.LSOverride
Icon
._*
.env
*.ai
*.log
*.pdf
*.psd
*.sublime*
.cache
.keep
node_modules/
npm-debug.*
yarn.lock
